<div id='header_container'>
  <div class='logo'>
    <h1><a href='#'>Beyond Reel Productions</a></h1>
  </div>
  <nav>
    <ul>
      <li class='nav_item'>
        <a href='#'>Home</a>
      </li>
      <li class='nav_item'>
        <a href='#'>Our Story</a>
      </li>
      <li class='nav_item'>
        <a href='#'>Crew</a>
      </li>
      <li class='nav_item'>
        <a href='#'>Films</a>
      </li>
      <li class='nav_item'>
        <a href='#'>Gallery</a>
      </li>
      <li class='nav_item'>
        <a href='#'>Contact</a>
      </li>
    </ul>
  </nav>
</div>
