<div id='header_container'>
  <div class='logo'>
    <h1><a href='#'>Beyond Reel Productions</a></h1>
  </div>
  <nav>
    <ul>
      <li class='nav_item'>
        <a href='index.html'>Home</a>
      </li>
      <li class='nav_item'>
        <a href='story.html'>Our Story</a>
      </li>
      <li class='nav_item'>
        <a href='crew.html'>Crew</a>
      </li>
      <li class='nav_item'>
        <a href='films.html'>Films</a>
      </li>
      <li class='nav_item'>
        <a href='gallery.html'>Gallery</a>
      </li>
      <li class='nav_item'>
        <a href='contact.html'>Contact</a>
      </li>
    </ul>
  </nav>
</div>
