<div id='header_container'>
  <div class='logo'>
    <h1><a href='#'>Beyond Reel Productions</a></h1>
  </div>
  <nav>
    <ul>
      <li class='nav_item'>
        <a href='#'>Home</a>
      </li>
      <li class='nav_item'>
        <a href='#/story'>Our Story</a>
      </li>
      <li class='nav_item'>
        <a href='#/crew'>Crew</a>
      </li>
      <li class='nav_item'>
        <a href='#/films'>Films</a>
      </li>
      <li class='nav_item'>
        <a href='#/gallery'>Gallery</a>
      </li>
      <li class='nav_item'>
        <a href='#/contact'>Contact</a>
      </li>
    </ul>
  </nav>
</div>
