{% extends "base.html" %}

{% block container %}
<h1>The Beyond Reel Story</h1>
<p>"The is just beyond reel man," &dash; Juan</p>
<p>
Beyond Reel Productions was established throughout the month of May, 2010 after the completion of the film "Dead Rush". After holding first screening it at a classroom at their High School and posting it up on their youtube, they came up with bigger and more ambitious projects. After a year and a half after "Dead Rush" they released "Wilderness" and "Boy Who Cried Pig". As more and more friends and fans showed support for their films. They recently screened "Dead Rush 2", and are currently working on numerous projects. Their upcoming film is "Below Zero" which has been thought of and processed for over two years. They are expecting to begin production around December. While you wait for their new film why don't you check out their facebook, youtube, and twitter!
</p>
{% endblock container %}
